#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
}
#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #ffffff;
}
#menu-10 .link {
  font-size: 0.75rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #0e0e0e;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-10 .btn {
      font-size: 14px;
    color: #ff004a;
    box-shadow: none;
    border-color: #ff004a;
}
#social-buttons4-17 .mbr-section-title,
#social-buttons4-17 .btn-social {
  color: #fff;
}
#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
}
#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #ffffff;
}
#menu-10 .link {
  font-size: 0.75rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #0e0e0e;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}

#menu-36 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-36 .navbar-caption {
  color: #ffffff;
}
#menu-36 .navbar-toggler {
  color: #ffffff;
}
#menu-36 .link,
#menu-36 .dropdown-item {
  color: #ffffff;
}
#menu-36 .link {
  font-size: 0.75rem;
}
#menu-36 .dropdown-item,
#menu-36 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-36 .link:hover,
#menu-36 .dropdown-item:hover,
#menu-36 .link:focus,
#menu-36 .dropdown-item:focus {
  color: #c0a375;
}
#menu-36 .link[aria-expanded="true"],
#menu-36 .dropdown-menu {
  background: #0e0e0e;
}
#menu-36 .nav-dropdown-sm .link:focus,
#menu-36 .nav-dropdown-sm .link:hover,
#menu-36 .nav-dropdown-sm .dropdown-item:focus,
#menu-36 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-36 .navbar,
#menu-36 .nav-dropdown-sm,
#menu-36 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-36 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-36 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-36 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-36 .bg-color.transparent.opened .link:hover,
#menu-36 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-36 .link[aria-expanded="true"],
#menu-36 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-36 .btn {
  font-size: 12px;
}
#form1-38 SMALL {
  color: #2b0680;
}
#menu-26 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-26 .navbar-caption {
  color: #ffffff;
}
#menu-26 .navbar-toggler {
  color: #ffffff;
}
#menu-26 .link,
#menu-26 .dropdown-item {
  color: #ffffff;
}
#menu-26 .link {
  font-size: 0.75rem;
}
#menu-26 .dropdown-item,
#menu-26 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-26 .link:hover,
#menu-26 .dropdown-item:hover,
#menu-26 .link:focus,
#menu-26 .dropdown-item:focus {
  color: #c0a375;
}
#menu-26 .link[aria-expanded="true"],
#menu-26 .dropdown-menu {
  background: #0e0e0e;
}
#menu-26 .nav-dropdown-sm .link:focus,
#menu-26 .nav-dropdown-sm .link:hover,
#menu-26 .nav-dropdown-sm .dropdown-item:focus,
#menu-26 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-26 .navbar,
#menu-26 .nav-dropdown-sm,
#menu-26 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-26 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-26 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-26 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-26 .bg-color.transparent.opened .link:hover,
#menu-26 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-26 .link[aria-expanded="true"],
#menu-26 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-26 .btn {
  font-size: 12px;
}
#form1-35 SMALL {
  color: #373f53;
}
#menu-26 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-26 .navbar-caption {
  color: #ffffff;
}
#menu-26 .navbar-toggler {
  color: #ffffff;
}
#menu-26 .link,
#menu-26 .dropdown-item {
  color: #ffffff;
}
#menu-26 .link {
  font-size: 0.75rem;
}
#menu-26 .dropdown-item,
#menu-26 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-26 .link:hover,
#menu-26 .dropdown-item:hover,
#menu-26 .link:focus,
#menu-26 .dropdown-item:focus {
  color: #c0a375;
}
#menu-26 .link[aria-expanded="true"],
#menu-26 .dropdown-menu {
  background: #0e0e0e;
}
#menu-26 .nav-dropdown-sm .link:focus,
#menu-26 .nav-dropdown-sm .link:hover,
#menu-26 .nav-dropdown-sm .dropdown-item:focus,
#menu-26 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-26 .navbar,
#menu-26 .nav-dropdown-sm,
#menu-26 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-26 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-26 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-26 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-26 .bg-color.transparent.opened .link:hover,
#menu-26 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-26 .link[aria-expanded="true"],
#menu-26 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-26 .btn {
  font-size: 12px;
}
